:root {
    Dark cyan: hsl(185, 75%, 39%)
    Very dark desaturated blue: hsl(229, 23%, 23%)
    Dark grayish blue: hsl(227, 10%, 46%)
    
    ### Neutral
    
    Dark gray: hsl(0, 0%, 59%)
}

*,
*::before,
*::after {
  box-sizing: inherit
}

html {
  box-sizing: border-box;
  font-size: 100%;
  color: var(--very-light-gray);
  font-family: 'Lexend Deca', sans-serif;
}